@import './variables.scss';

:before,
*,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $font-two;
  font-size: 3rem;
}

h2 {
  font-family: $font-two;
  font-size: 2.5rem;
}

h3 {
  font-family: $font-two;
  font-size: 2.2rem;
}

h4 {
  font-family: $font-two;
  font-size: 1.8rem;
}

h5 {
  font-family: $font-two;
  font-size: 1.6rem;
}

p {
  font-family: $font-three;
  line-height: 1.5em;
}

li {
  font-family: $font-three;
  line-height: 1.2em;
}
