// Fonts
$font-one: 'Great Vibes', cursive;
$font-two: 'Poiret One', cursive;
$font-three: 'Roboto', sans-serif;

// Colors
$color-one: rgb(139, 79, 1);
$color-two: rgba(255, 145, 0, 0.5);
$color-three: rgb(255, 219, 60);
