.pagination-button {
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  background: none;
  min-width: 40px;
  color: #333;

  &.active {
    color: black;
    font-weight: bolder;
  }

  &:disabled {
    color: #999;
  }
}
